@model ZeroWaste.SharePortal.Models.ContentPage

@{
	Content.Define(re => 
	{
		re.Title = "About page";
	});
}

<div class="row">
    <div class="span8">
        @Html.Partial("LayoutPartials/Content")
    </div>
    <div class="span4">
        @Html.
    </div>
</div>