@model N2Bootstrap.Library.Tokens.ITokenHelper
<span class="invalid-token label label-important" rel="tooltip" title="@Model.GetHelpText()">@Model.GetTokenName(): The value '@Model.GetTokenValue()' is invalid.</span>
