<div class="search-container" style="display: none;">
    @*<script type="text/javascript">
        var searchpageurl = '/search'
    </script>*@
    <form class="form-search" id="form-search">
        <label for="search">Search</label>
        <input type="text" id="q" class="inp_320" placeholder="type something..." name="search" onblur="this.value==''" onfocus="if(this.value=='type something...')this.value=''">
        <button type="submit" class="btn search">
        </button>
    </form>
</div>
