@using BootstrapSupport
@model ZeroWaste.SharePortal.Models.ForgotPasswordViewModel

<section id="loginForm">
<div class="row">
<div class="span4 offset4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset class="">
            <h1>Forgot password</h1>
            <div class="control-group"></div>
            <label class="control-label" for="Email">Email</label>
            <div class="controls">
                @Html.EditorFor(c => c.Email, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(c => c.Email, null, new { @class = "help-inline" })
            </div>
            <div class="buttonContainer">
                <button type="submit" class="btn">Submit</button>
            </div>
        </fieldset>
    }
</div>
</div>
</section>
